@model List<DtoLayer.NotificationDtos.ResultNotificationDto>

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="main-panel">
<div class="content">
<div class="container-fluid">
    <h4 class="page-title">Alle Varslinger</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Varsling Liste</div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Detaljer</th>
                            <th scope="col">Type</th>
                            <th scope="col">Dato</th>
                            <th scope="col">Er Lest</th>
                            <th scope="col">Rediger</th>
                            <th scope="col">Slett</th>
                            <th scope="col">Detaljer</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var notification in Model)
                        {
                            <tr>
                                <td><i class="@notification.Icon" ></i></td>
                                <td>@notification.Content</td>
                                <td><i class="@notification.Title"></i></td>
                                @{
                                    DateTime messageTime = notification.CreatedAt; 
                                    DateTime currentTime = DateTime.Now;
                                    TimeSpan timeDifference = currentTime - messageTime;
                                    int hoursAgo = (int)timeDifference.TotalHours;
                                    int minutesAgo = (int)timeDifference.TotalMinutes % 60;
                                }
                                @if (hoursAgo > 0)
                                {
                                    <td class="text-gray mb-0">@hoursAgo @(hoursAgo == 1 ? "hour" : "hours") and @minutesAgo @(minutesAgo == 1 ? "minute" : "minutes") ago</td>
                                }
                                else
                                {
                                    <td class="text-gray mb-0">@minutesAgo @(minutesAgo == 1 ? "minute" : "minutes") ago</td>
                                }
                                <td>
                                    @if (notification.IsRead)
                                    {
                                        <span class="badge badge-success">Read</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Unread</span>
                                    }
                                </td>
                               <td><a href="/Admin/AdminNotification/Update/@notification.NotificationId" class="btn btn-outline-warning"> <i class="mdi mdi-account-edit"></i> Rediger</a></td>
                               <td><a href="/Admin/AdminNotification/Delete/@notification.NotificationId" class="btn btn-outline-danger" ><i class="mdi mdi-delete"></i> Slett</a> </td>
                               <td><a href="#" class="btn btn-outline-primary"><i class="mdi mdi-eye"></i> Detaljer</a></td>
                               </tr>
                               
                        }
                        </tbody>
                        </table>
                    <a href="/Admin/AdminNotification/Create" class="btn btn-primary"><i class="fa fa-plus"></i> Legg til ny varsling</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>